<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <title>bimbelin</title>
</head>
<body>

<!-- NAVIGATION BAR -->
    <header>
            <nav>
                <ul>
                    <li><a href="#beranda">beranda</a></li>
                    <li><a href="#fitur">fitur</a></li>
                    <li><a href="#tentang">tentang kami</a></li>
                    <li><a href="#kontak">kontak</a></li>
                </ul>
            </nav>
    </header>

<!-- END OF NAVIGATION BAR -->

<!-- MAIN -->
<main>
    <!-- BERANDA SECTION -->
    <article class="content-beranda" id="beranda">       
        <div class="content-beranda-description">
           <img src="img/logo.png" alt="bimbelin logo">

           <p>ayo mulai belajar dan kejar mimpimu bersama kami!</p>
           <button>mulai belajar</button>
        </div>
        
        <div class="content-beranda-image">
            <img src="img/home-pitcure.jpg" alt="bimbelin online study">
        </div>
    </article>
    <!-- END OF BERANDA SECTION -->

    <!-- FITUR SECTION -->
    <article id="fitur" class="fitur-container">
        <h1>fitur belajar</h1>
        <div class="fitur-content">
            <div class="fitur-content-box">
                <img src="img/fitur-pitcure1.png" alt="E-learning">
                <h3>belajar dari mana saja dan kapan saja</h3>
            </div>
            <div class="fitur-content-box">
                <img src="img/fitur-pitcure2.png" alt="Study Plan">
                <h3>jadwal pembelajaran yang fleksible</h3>
            </div>
            <div class="fitur-content-box">
                <img src="img/fitur-pitcure3.png" alt="Curriculum">
                <h3>kurikulum pembelajaran selalu up to date</h3>
            </div>
        </div>
    </article>
    <!-- END OF FITUR SECTION -->

    <!-- TENTANG SECTION -->
    <article id="tentang" class="tentang-container">
        <h1>tentang kami</h1>
        <div class="tentang-content">
            <div>
                <img src="img/tentang-image.png" alt="Grades">
            </div>
            
            <div class="tentang-content-description">
                <p>bimbelin merupakan situs belajar online yang membantu siswa belajar bersama tutor terpercaya yang expert di bidangnya.</p>
                <p>kami selalu memastikan proses pembelajaran akan lebih mudah dan menyenangkan.</p>
            </div>
        </div>
    </article>
    <!-- END OF TENTANG SECTION -->

    <!-- KONTAK SECTION -->
    <aside id="kontak">
        <div class="aside-container">

            <div class="address-content">
                <img src="img/logo.png" alt="bimbelin logo">
                <a href="#" target="_blank">Jl. xxxxxx No. xx, xxxxxxx, Kec. xxxxxxx, Kota Surabaya, Jawa Timur XXXXX</a>
            </div>

            <div class="contact-content">
                <h2>Hubungi kami</h2>
                <ul>
                    <li>
                        <a href="#" target="_blank"> 
                            <img src="img/wa-icon.png" alt="WhatsApp icon">
                            <p>+62 xxx xxxx xxxx</p>
                        </a>
                    </li>
        
                    <li>
                        <a href="#" target="_blank">
                            <img src="img/gmail-icon.png" alt="Gmail icon">
                            <p>bimbelin@academy.ac.id</p>
                        </a>
                        
                    </li>
                </ul>
            </div>

            <div class="social-media">
                <h2>Ikuti kami</h2>
                <ul>
                    <li>
                        <a href="" target="_blank">
                            <img src="img/ig-icon.png" alt="Instagram icon">
                            <p>bimbelin_academy</p>
                        </a>

                    </li>

                    <li>
                        <a href="#" target="_blank">
                            <img src="img/fb-icon.png" alt="Facebook icon">
                            <p>Bimbelin Academy</p>
                        </a>
                        
                    </li>

                    <li>
                        <a href="#" target="_blank">
                            <img src="img/twit-icon.png" alt="Twiter icon">
                            <p>@bimbelinacademy</p>
                        </a>
                        
                    </li>
                </ul>
            </div>

        </div>
    </aside>
    <!-- END OF KONTAK SECTION -->
</main>
<!-- END OF MAIN -->

<!-- FOOTER SECTION -->
<footer>
    <p1> Bimbelin Academy </p1>
    <p2> &copy;2023 </p2>
</footer>
<!-- END OF FOOTER SECTION -->

</body>
</html>